::selection {
  background-color: #bf2a2a;
  color: white;
}

p a::after {
  content: "\00a0↗";
}

#headliner b{
  vertical-align: bottom;
}

span{
  overflow: hidden;
}

code{
  color: #bf2a2a;
  font-size: 70%;
  vertical-align: baseline;
  background-color: #e2e2e2;
  padding: 3px;
  border-radius: 5px;
  font-family: ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace;
}

#dovednosti {
  border-radius: 0%;
  border: 0px;
  border-left: 3px solid #bf2a2a;
  min-height: 500px;
  width: auto;
  margin-top: auto;
}

body {
  position: relative;
  text-align: left;
  padding: 0;
  margin: 0;
  width: 100%;
  line-height: 130%;
  min-height: 100%;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background-color: #ececec;
  color: #292929;
}

.MathJax{
  font-size: 110% !important;
  overflow-x: scroll !important;
  overflow-y: hidden !important;
}

header {
  margin: 0px;
  padding: 15px 25px 0 25px;
  height: auto;
  background-color: #ececec;
  text-align: left;
  color: #292929;

  display:flex;
  max-width:100%;
  z-index:1;
  overflow: hidden;
  font-size: 160%;
}

.gist{
    z-index:-1;
}

header a {
  text-decoration: none;
  color: #292929;
}

nav a img {
  max-height: 20px;
  width: auto;/*
  border: 2px solid transparent;*/
}

nav a img:hover {
  /*
  border: 2px solid #7a1d1d;
  */
  box-shadow: 0px 0px 0px 1px #881f1f;
}




nav a:hover {
  color:#bf2a2a;
}

article img {
  float: left;
  height: 700px;
  width: auto;
  border-bottom: 5px solid #bf2a2a;
  border-top: 5px solid #bf2a2a;
  border-radius: 25px;
  vertical-align: bottom;
  margin: 50px 30px 10px 0px;
  pointer-events: none;
}

.header-cut{
  max-width: 1215px;
  margin-left: auto;
  margin-right: auto;

}

@media (min-width: 1050px) {
  #div-for-menu-button {
    display: none;
  }

  #hello {
    text-align: center;
    text-decoration: none;
    border: none;
  }

  #headliner{
    margin-left: auto;
    margin-right:auto;
    
    
  }
  footer{
    font-size: 100%;
    overflow: hidden;
  }
  
  nav {
    margin-left: auto;
    margin-right:auto;

    padding: 0;
  }

  .textblok { 
    scroll-behavior: smooth;
    max-width: 900px;
    height: auto;
    margin-top: auto;
    padding: 20px 75px;
    margin-left: auto;
    margin-right:auto;
    display: block;
  }

  #dark-light-btn {
    vertical-align: middle;
    font-size: 20px;
    border: 1px solid #bf2a2a;
    border-radius: 15px;
    background-color: #292929;
    color: #292929;
    width: 50px;
    height: 30px;
  }

  nav a {
    text-decoration: none;
    color: #292929;
    padding: 0 5px;
    margin:0;
  }
  nav a:last-child {
    border-right: 0px solid gray;
  }


  #main-pic {
    /*position: relative;
    bottom: 20px;*/
  }

  #eth {
    /*position: relative;
    bottom: 60px;*/
    float:right;
  }

  #gympl {
    /*position: relative;
    bottom: 40px;*/
    float:right;
  }

  #sap{
    float:right;
  }

  footer a img {
    vertical-align:middle;
    height: 15px;
    width: auto;
  }

  .textblok-kontakt a img {
    max-height: 55px;
    width: auto;
    display: inline;
    margin-left: auto;
    margin-right: auto;
    border-radius: 11px;
  }
  .kontakt-type{
    max-height:75px;
    background-color: #292929;
    border-radius: 20%;
    width:auto;
  }
  .gist-data{
    border-radius:6px !important;
    border:none !important;
  }

  #desktop-menu{
    padding:10px;
    text-align:center;
  }
}

@media screen and (max-width: 1050px) {
  

  .blob-code, .blob-num {      
    font-size: 170% !important;
    
   }
   .gist .blob-code{
     line-height:150px;
   }
   .gist-data{
    padding: 15px 15px 15px 5px;
    border-radius:15px !important;
    border:none !important;
  }

  .btn-submit {
    font-size: 120%;
    padding: auto;
    border-radius:8px;
    background-color: #292929;
    border: 2px solid #bf2a2a;
    cursor: pointer;
    color:#292929;
  }

  
  .btn-submit:hover {
    color:#292929;
  }

  .kontakt-type{
    max-height:120px;
    background-color: #292929;
    border-radius: 20%;
    width:auto;
  }
  .textblok-kontakt a img {
    max-height: 75px;
    width: auto;
    display: inline;
    margin-left: auto;
    margin-right: auto;
    border-radius: 11px;
  }

  .textblok {
    max-width: 100%;
    height: auto;
    margin-top: auto;
    padding:20px 45px;
    margin-left: auto;
    margin-right:auto;
    overflow-x: hidden;
    background-color: #ececec;
    display: block;
  }

  body {
    font-size: 250%;
    line-height: 160%;
  }

  



  article img {
    height: 500px;
    width: auto;
  }

  
  header {
  margin: 0px;

  padding: 0 25px;
  height: auto;
  background-color: #ececec;
  border-bottom: 1px solid gray;
  text-align: left;
  color: #292929;
  z-index:1;
  vertical-align: middle;
  overflow: hidden;
  }


  #hello {
    text-align: center;
    text-decoration: none;
    border: none;
  }

  nav {
    margin:0;
    display: block;
    text-align: center; 
    border-bottom: 1px solid gray;
  }

  nav a {
    display:block;
    color:#292929;
    text-decoration: none;
    font-size: 150%;
    margin:25px 0;
  }

  nav a img {
    width: auto;
    max-height: 50px;
  }

  #headliner {
    font-size: 80px;
    height: fit-content;
    margin-top: auto;
    margin-bottom: auto;
    
    
  }

  #pictures, #pictures img {
    height: 500px;
    margin-left: 0px;
    transition: 0.75s;
  }

  #desktop-menu {
    display: none;
    padding:10px 25px;
    text-align:right;
    
  }

  #ftrmenu, #div-for-menu-button {
    display: block;
  }

  #dark-light-btn {
    vertical-align: middle;
    font-size: 40px;
    border: 1px solid #bf2a2a;
    border-radius: 15px;
    background-color: #292929;
    color: #292929;
    width:8 0px;
    height: 50px;
  }

  h1 {
    text-align: left;
  }

  h2 {
    margin-top: 40px;
    text-align: left;
    
  }

  #div-for-menu-button {
    max-width: 100%;
    margin: auto 0;
    height: fit-content;
  }

  #header-menu-btn {
    margin: auto 0;
    height: fit-content;
    padding:0 0 10px 0;
    width: fit-content;
    vertical-align:text-top;
    font-size: 90px;
    border: none;
    background-color: transparent;
    color: #292929;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  .headerbtn {
    display: block;
  }
  .textblok-kontakt a img {
    max-height: 100px;
  }

  #main-pic {
    height: 50%;
    width: 50%;
    margin-bottom: 50px;
    margin-right: 0;
    display: block;
    pointer-events: none;
  }

  footer a img{
    height:35px;
    width:auto;
  }

}

/**konec mobile style**/
.headerbtn {
  display: none;
  float: right;
  border: none;
  background-color: transparent;
  color: #292929;
}

.headerbtn:hover {
  background-color: #7a1d1d;
  cursor: pointer;
}

#dark-light-btn:hover {
  cursor: pointer;
}

#dark-light-btn:focus {
  outline-width: 0;
}

#div-for-menu-button {
  height: auto;
  margin-left: auto;
}


#header-menu-btn:hover {
  cursor: pointer;
}

#header-menu-btn:focus {
  outline-width: 0;
}

#btcbtn{
  margin: auto;
  vertical-align: bottom;
  border: none;
  background-color: transparent;
  color: #292929;
  font-size: 110%;
  display:block;
}
#btcbtn:hover {
  cursor: pointer;
}

#btcbtn:focus {
  outline-width: 0;
}

h1 {
  line-height: normal;
}

h2 {
  scroll-margin-top: 20px;
  padding-bottom: 5px;
  margin-top: 40px;
  border-bottom: 1px solid #9e9e9e;
  /*text-decoration: underline #bf2a2a;*/
}

.year {
  font-style: normal;
  text-decoration: none;
}

h3 {
  text-align: left;
  font-weight: bolder;
}

h3 a {
  color: #292929;
  text-decoration: none;
}

h3 a:hover {
  text-decoration: underline #bf2a2a;
}


h4 {
  font-size: 110%;
  font-weight: bold;
}

.blog-headline {
  border: none;
  margin:20px 0px 0px 0px;
  /*text-decoration: underline #bf2a2a;*/
}

.gist-meta{
  display:none;
}
.gist .gist-file{
  border:none !important;
}


footer {
  max-width: 100%;
  height: auto;

  backdrop-filter: blur(6px);

  text-align: center;
  color: #ababab;
  overflow: hidden;
  
  padding: 15px 10px 15px 10px;
}

footer a {
  color: #292929;
  text-decoration: none;
  margin-left: 10px;
}



footer a img:hover {
  opacity: 0.4;
}

footer a:hover {
  color: #bf2a2a;
}

li {
  text-align: left;
}

.blog-wrap{
  padding: 0px 20px 20px 20px ;
  border-radius:20px;
  overflow: hidden;
}
.main-wrap{
  padding:20px;
  /*background-color:#e8e8e8a8;  pouze na blog*/
  border-radius:35px;
  margin-bottom:30px;
  margin-left:0;
  margin-left:0;
  overflow: hidden;
}

.career {
  float: right;
  font-size: 40px;
  text-align: right;
  color: #2d2d2d;
  margin: 0;
}



.textblok:last-child{
  border-bottom: none;
}

.textblok p {
  text-align: justify;
}

.description{
  padding-left:20px;
  text-align: left;
}

.sub-nav-a{
  margin-top:50px;
}

.textblok p a {
  color: #bf2a2a;
  text-decoration: none;
}

span a{
  color: gray;
  text-decoration: none;
}
span a:hover{
  text-decoration: underline;
}

.textblok p a:hover {
  text-decoration: underline;
}

.textblok img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  object-fit: cover;
  display: block;
  margin-bottom:20px;
  pointer-events: none;
}

.pictures {
  width: auto;
  height: 250px;
  margin: 50px auto 50px auto;
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
}

.pictures:hover {
  margin-left: 0px;
  transition: 0.75s;
}

.sekce-projekty {
  width: auto;
  height: auto;
  padding: 0;
  padding-left: 10px;
  cursor: pointer;
}

.pictures img {
  border-radius: 0%;
  height: 250px;
  width: auto;
  margin: 0px 10px 0px 0px;
  transition: 0.25s;
}

.pictures img:hover {
  opacity: 80%;
  padding-bottom: 20px;
  transition: 0.25s;
}

.blog-headline a {
  text-decoration: none;
  color:#292929;
}

.blog-headline a:hover {
  text-decoration: none;
  color: #bf2a2a;
}

.button-menu {
  text-align: center;
}

.button-menu button {
  padding: 1%;
  height: auto;
  width: auto;
  background-color: #e0e0e0;
  border: 1px solid #bf2a2a;
  font-size: 100%;
  border-radius: 15px;
}

.button-menu button:hover {
  background-color: #292929;
  color: #bf2a2a;
  cursor: pointer;
  transition: 0.25s;
}

.button-menu button:focus {
  outline-width: 0;
}

.rozsireni {
  display: none;
}

ul li a {
  color: #bf2a2a;
  text-decoration: none;
}

li a::after {
  content: "\00a0↗";
}

ul li a:hover {
  color: #bf2a2a;
  text-decoration: underline;
}

.btn-submit {
  font-size: 120%;
  padding: auto;
  border-radius:8px;
  background-color: #292929;
  border: 2px solid #bf2a2a;
  cursor: pointer;
}

.btn-submit:hover {
  background-color: #bf2a2a;
  color: #292929;
}

.textblok-s {
  max-width: 100%;
  height: auto;
  margin-top: auto;
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 3px solid lightgray;
  overflow: hidden;
  display: block;
  text-align: center;
}

.textblok-s img {
  height: 50px;
  width: auto;
  border-radius: none;
  border: none;
  object-fit: cover;
  float: center;
  margin-left: auto;
  margin-right: auto;
  pointer-events: none;
}

.textblok-kontakt {
  text-align: center;
  max-width: 1200px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding: 5%;
  border-bottom: 3px solid lightgray;
  overflow: hidden;
}




.kontakt-form {
  text-align: center;
  margin-top:80px;
}

.kontakt-form input[type=text] {
  font-size: 120%;
  border: 1px solid gray;
  padding:10px;
  border-radius:10px;
  width: 520px;
  margin-bottom: 10px;
}

.kontakt-form input[type=email] {
  font-size: 120%;
  border: 1px solid gray;
  padding:10px;
  border-radius:10px;
  width: 520px;
  margin-bottom: 20px;
}

.kontakt-form textarea {
  font-size: 120%;
  padding:10px;
  border-radius:10px;
  border: 1px solid gray;
}

.kontakt-form input:focus, .kontakt-form textarea:focus {
  outline-width: 0;
}
.admin-form input:focus{
  outline-width: 0;

}




.textblok-zprava {
  max-width: 1200px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding: 5%;
  overflow: hidden;
}
.kontakt-icon{
  background-color: #292929;
  border:2px solid #292929;
}
.kontakt-icon:hover {
  background-color:#949494;
}

.article-pic {
  border-radius: 0%;
  border: none;
  width: 50%;
  height: 50%;
  float: right;
  pointer-events: none;
}

#main-message-tarea-box{
  width:520px;
  height:200px;
}

#kontakt-name{
  width:256px;
}
#kontakt-surname{
  width:256px;
}

.socialni-site{
  margin-bottom:20px;
}
